# Default ignored files
/shelf/
.idea/
out/
# Datasource local storage ignored files
/../../../../../:\Concordia\6481 Programming and Problem Solving\GIT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
